$container-width: 960px;
$tablet-width: 768px;
$mobile-width: 414px;
$footer-height: 60px;

$desktop-indent: 30px;
$tablet-indent: 20px;
$mobile-indent: 15px;

$input-height: 40px;



$color-button:  #e97b9c;
$color-button-activate:  #72c168;


$color-dark: #234006;
$color-dark2:#386a3c;
//$color-dark3:#38853c;
//$color-dark4:#4d997b;

$color-decent: #c3da9e;
//$color-fresh: #72c168;

